SIGAV_API_PORT=5000
SIGAV_FRONT_PORT=4200
POSTGRES_PORT=5432
REDIS_PORT=6379
PGADMIN_PORT=5050

POSTGRES_DB=sigav
POSTGRES_USER=sigav_user
POSTGRES_PASSWORD=sigav_password

PGADMIN_DEFAULT_EMAIL=admin@sigav.com
PGADMIN_DEFAULT_PASSWORD=admin123
